{% extends "::base.html.twig" %}

{% block title %}AppBundle:RestaurantUser:connectRestaurantUser{% endblock %}

{% block body %}
<h1>Welcome to the RestaurantUser:connectRestaurantUser page</h1>
{% endblock %}
