{% extends "::base.html.twig" %}

{% block title %}AppBundle:ScheduleBooking:getScheduleOfDay{% endblock %}

{% block body %}
<h1>Welcome to the ScheduleBooking:getScheduleOfDay page</h1>
{% endblock %}
