{% extends "::base.html.twig" %}

{% block title %}AppBundle:RestaurantController:getRestaurant{% endblock %}

{% block body %}
<h1>Welcome to the RestaurantController:getRestaurant page</h1>
{% endblock %}
